
<div class="eight columns offset-by-two contact">

	<h4><i class="fa fa-lightbulb-o"></i> Career Advice</h4>

	<div class="row">
		<div class="three columns">
			<h2><i class="fa fa-pencil-square-o"></i> Advice and Support</h2>
			<p>Purple Stone Academy offers you support and careers advice in finding your first job, setting up a bank account, getting a NINo (National Insurance Number), etc.</p>
			
		</div>
		<div class="three columns offset-by-one">
			<h2><i class="fa fa-files-o"></i> CV writing</h2>
			<p>We can help you by writing your CV to the UK standards.</p>		
		</div>

	</div>

	<hr>

	<div class="row">
		<div class="three columns">
			<h2><i class="fa fa-hand-o-right"></i> Applications to jobs</h2>
			<p>We can apply for you for certain jobs in our area of expertise, such as in the hotel, catering, nanny, au pair and cleaning roles.</p>				
		</div>
		<div class="three columns offset-by-one">
			<h2><i class="fa fa-cogs"></i> Training</h2>
			<p>We can offer training in certain courses that relate to the hotel and catering industries. We can also point you in the right direction for nanny, and au pair roles.</p>		
		</div>
	</div>

	<hr>

	<div class="row">
		<p>Please get in touch with us for further details at careers@purplestoneacademy.com.</p>
		<h3>We can offer a 30 minute consultation of CV writing and advice if you book minimum 6 weeks of courses. Booking is required.</h3>
		
	</div>


</div>