<section class="resources">

	<div class="row">
		<div class="eight columns slide">
			<%= image_tag "younghappy.jpg", width: '620' %>
		</div>

		<%= render :partial => 'shared/aweberform' %>
		
	</div>

	<div class="row">

		<div class="eight columns offset-by-two">

			<h2><i class="fa fa-puzzle-piece"></i> Internships</h2>
			<hr class="light">
			<p>At Purple Stone Academy we offer professional work experience in our company.</p>
			<ul class="disc">
				<li>A professional internship provides unpaid work experience in an English speaking environment in the same field of study as the candidate’s studies.</li>
				<li>Work experience placements are generally available in marketing, market research, graphic design, product development, and office work.</li>
				<li>An internship can be taken in combination with an English language course at our school in East London, or, for students with excellent English language skills, on its own.</li>
				<li>There is a minimum level of English of Intermediate level required in order to be able to be given this opportunity.</li>
				<li>Most internships will last minimum 3 months, Monday to Friday, for 5 hours a day, but in exceptional circumstances, shorter periods can be arranged.</li>
				<li>During the period of work experience, interns may be given a variety of tasks of different kinds - ranging from challenging project work to routine administrative tasks such as publishing our school or accommodation on different websites, translating documents, distributing leaflets, creating flyers, writing and researching content for our magazine.</li>
				<li>As a "volunteer", interns will not be paid. Above all, candidates should remember that while they are learning linguistic and professional skills, they will be expected to contribute as an employee might.</li>
			</ul>

			<br />
			<hr>
			<br />
					
		</div>
		
	</div>


	<div class="row">

		<div class="eight columns offset-by-two">

			<h2><i class="fa fa-book"></i> English Lessons</h2>
			<hr class="light">

			<div class="row">

				<div class="three columns">
					<h3>Structure</h3>
					<p>We ensure that all our classes are tailored to your unique needs. All our English courses are structured to cater for your level, ability and overall objectives.</p>
				</div>
				<div class="three columns offset-by-one">
					<h3>Support</h3>
					<p>Purple Stone Academy is an English language school geared towards helping foreign students improve their English so that they can get work and continue their study.</p>
				</div>

			</div>

			<div class="row">

				<div class="three columns">
					<h3>Encouragement</h3>
					<p>We provide you with English language lessons, support networks and accommodation so that you can meet your educational needs.</p>
				</div>
				<div class="three columns offset-by-one">
					<h3>Evaluation</h3>
					<p>Our English School offers you a fantastic System for Learning English that will enable you to: Speak English, Read with confidence, Improve your Pronunciation, Listening and Writing.</p>
				</div>
				
			</div>

			<div class="row">

				<div class="seven columns">
					<h3>Dynamic Activities</h3>
					<p>Learn English with dynamic classroom and social activities!</p>
				</div>
				
			</div>

			<note>To find out more, please visit www.purplestoneacademy.com</note>
			
			<br />
			<hr>
			<br />

		</div>
		
	</div>

	<div class="row">

		<div class="eight columns offset-by-two">

			<h2><i class="fa fa-home"></i> Accomodation</h2>
			<hr class="light">

			<div class="row">

				<div class="three columns">
					<h3>Close to the tube Station and within 15-20 minutes to the school</h3>
					<p>All the accommodation we provide is within 1-10 minutes from the tube station and within 15-20 minutes from our school by bus or train station. The rooms to rent are based around Westferry, Canary Wharf, Bow, Limehouse, East India.</p>
				</div>
				<div class="three columns offset-by-one">
					<h3>Live with Young, Friendly, Multilingual - mainly European Students and Young Professionals</h3>
					<p>Our houses have mainly students and young professionals from Europe. We carefully select the people who live in our houses in order to ensure balance and harmony.</p>
				</div>

			</div>

			<div class="row">

				<div class="three columns">
					<h3>All Bills included</h3>
					<p>We offer rooms to rent with all bills included because we want to offer peace of mind to our students.</p>
				</div>
				<div class="three columns offset-by-one">
					<h3>Support within 24 hours</h3>
					<p>We always try to get back to you and start resolving any problems you may have within 24 hours. We make it our priority to meet your needs as soon as possible.</p>
				</div>
				
			</div>

			<div class="row">

				<div class="seven columns">
					<h3>Minimum stay applies</h3>
					<p>We usually have a minimum stay of three months plus 6 weeks notice. Please get in touch if you need a room for a shorter period.</p>
				</div>
				
			</div>
			
			<note>Please contact Maria Diz Hernandez in case you would like more information about our available rooms: maria@purplestonerooms.com</note><br /><br />
			<note>Alternatively, please contact Lily Patrascu in: lily@purplestonerooms.com</note>
			
		</div>
		
	</div>

</section>


