<section class="stories">

	<div class="row">

		<div class="ten columns offset-by-one">
			<h2><i class="fa fa-comments-o"></i> Success Stories</h2>
			<hr>
			<br />

			<div class="row">

				<div class="three columns">

					<h3>Julien Collas</h3>
					<hr class="light">
					<%= image_tag "julien_collas_france.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> Purple Stone Career Advice helped me to improve my English skills and find a job. I found a job after two weeks of coming to England! Thanks so much Miss Lily! Purple Stone Career Advice gives so many opportunities in London! <i class="fa fa-quote-right"></i></p>

					<hr class="light">
					
					<note>Julien Collas studied English at Purple Stone Academy. He was also advised by us about how to find a job. Within two weeks he was able to get a job as a waiter.</note>
					
				</div>

				<div class="three columns">

					<h3>Marinela</h3>
					<hr class="light">
					<%= image_tag "lisa_italy.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> Hi, I am Marinela. I started Studying English at Purple Stone Academy in August and within six weeks I managed to get a job as a barista because I improved my speaking and I also took some career advice and interview techniques from Lily at Purple Stone Career Advice. I highly recommend the school and the career advice! <i class="fa fa-quote-right"></i></p>
					
					<hr class="light">
					
					<note>Marinela has studied English with Purple Stone Academy for six weeks. As a result of the lessons and career advice received, she was able to get a job as a barista.</note>
					
				</div>

				<div class="three columns">

					<h3>Teo Vega</h3>
					<hr class="light">
					<%= image_tag "fernando_spain.jpg", width: '180' %>

					<p><i class="fa fa-quote-left"></i> Hi, my name is Fernando. I came to Purple Stone Academy to study English a few months ago, because I wanted to be able to find a job in Spain using my English. I was amazed at the level of dedication, support, encouragement and help that the teachers were offering there. It is a very small school and that is why I improved my English very quickly here! <i class="fa fa-quote-right"></i></p>
					
					<hr class="light">
					
					<note>Teo Vega has studied with Purple Stone Academy for a few weeks. His English was at a pre - intermediate level, yet he wanted to be able to improve his English so that he can get a job.</note>
					
				</div>

			</div>




		</div>

	</div>

</section>
